html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-image: url('./../assets/polibuda.jpg');
  background-position: -10% 130%;
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-attachment: fixed;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Nunito;
  font-weight: bold;
}

.navbar {
  background-color: #3d3d3d;
  padding: 20px 0;
}

.navbar-brand {
  font-size: 2rem;
  color: #d3d3d3;
  margin: 0 auto;
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 30px auto;
  font-size: 1.4rem;
  align-items: center;
}

.form input {
  width: 450px;
  padding: 10px 5px;
  border: solid 1px #3d3d3d;
}

form label {
  margin: 10px 0;
}

.form textarea {
  width: 450px;
  padding: 10px 5px;
  border: solid 1px black;
}

.achievement-field {
  display: flex;
  flex-direction: column;
  animation: appear 300ms ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.achievement-field > .achievement-field-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.achievement-field > .achievement-field-dates > input[type='date'] {
  width: 200px;
  margin: 10px 0;
}

.achievement-field > .achievement-field-dates > span {
  text-align: center;
}

p {
  width: 450px;
  margin: 0;
}

.semesters {
  position: relative;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding: 40px 0px;
  margin: 30px 0;
}

.add-achievement-button {
  margin-left: auto;
  font-size: 1rem;
  cursor: pointer;
}

.add-achievement-button:hover {
  text-decoration: underline;
}

input[type='submit'] {
  margin-top: 50px;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d3d3d;
  width: 100%;
  color: #d3d3d3;
}

.footer > a > svg {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
